@font-face {
  font-family: 'determination';
  src: url('determination.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'monster friend back';
  src: url('MonsterFriendBack.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'monster friend fore';
  src: url('MonsterFriendFore.woff2') format('woff2');
  font-style: normal;
}

/* BODY --------------------------------------------- */
* {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

#home {
    text-align: center;
    font-family: 'determination', sans-serif;
    background-color: rgb(152, 245, 248);
}

p {
  font-size: 0.5rem;
}

h1 {
  font-size: 0.8rem;
}

h2 {
  font-size: 0.7rem;
}

h3 {
  font-size: 0.6rem;
}

h4 {
  font-size: 0.5rem;
}

h5 {
  font-size: 0.4rem;
}

h6 {
  font-size: 0.3rem;
}

.cabeçalho {
    background-image: url(SansBG.png);
    padding-top: 3vw;
    padding-bottom: 0.5vw;
    margin-top: -1vw;
}

a {
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.01rem;
    background-color: transparent;
    text-decoration: none;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

a:hover {
    color: blueviolet;
    font-size: 0.7rem;
}

.text1 {
    background-color: rgb(247, 195, 195);
    margin-top: 5vw;
    margin-bottom: 5vw;
    padding-bottom: 1.5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}
/* --------------------------------------------- */

/* HOME --------------------------------------------- */
#p1home_1 {
    font-size: 0.7rem;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.05rem;
}

#p1home_2 {
    -webkit-text-stroke-color: red;
    -webkit-text-stroke-width: 0.05rem;
}

#p1home_3 {
    -webkit-text-stroke-color: orange;
    -webkit-text-stroke-width: 0.05rem;
}

.h2home_1 {
    font-family: 'monster friend back', sans-serif;
    font-size: 0.7rem;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.05rem;
}
/* --------------------------------------------- */

/* PAGE 1 --------------------------------------------- */
#p1page1_1 {
    font-size: 0.7rem;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.05rem;
}

#p1page1_2 {
    -webkit-text-stroke-color: red;
    -webkit-text-stroke-width: 0.05rem; 
}

#p1page1_3 {
    -webkit-text-stroke-color: rgb(255, 174, 0);
    -webkit-text-stroke-width: 0.05rem; 
}

#p1page1_4 {
    color: white;
    -webkit-text-stroke-color: rgb(255, 117, 117);
    -webkit-text-stroke-width: 0.05rem;
}

#p2page1_1 {
    color: purple;
    -webkit-text-stroke-color: rgb(255, 0, 200);
    -webkit-text-stroke-width: 0.075rem;
}

#p2page1_2 {
    color: red;
    -webkit-text-stroke-color: yellow;
    -webkit-text-stroke-width: 0.05rem;
}

#p2page1_3 {
    color: rgb(104, 0, 81);
    -webkit-text-stroke-color: rgb(189, 0, 148);
    -webkit-text-stroke-width: 0.075rem;
}
/* --------------------------------------------- */

/* PAGE 2 --------------------------------------------- */
.img_page2 {
    background-color: whitesmoke;
}
/* --------------------------------------------- */

/* PAGE 4 --------------------------------------------- */
.red {
    color: white;
    -webkit-text-stroke-color: red;
    -webkit-text-stroke-width: 0.065rem;
    font-size: 0.65rem;
}

.white {
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.025rem;
    font-size: 0.65rem;
}

.blue {
    color: white;
    -webkit-text-stroke-color: cyan;
    -webkit-text-stroke-width: 0.065rem;
    font-size: 0.65rem;
}

.darkblue {
    color: white;
    -webkit-text-stroke-color: blue;
    -webkit-text-stroke-width: 0.065rem;
    font-size: 0.65rem;
}

.orange {
    color: white;
    -webkit-text-stroke-color: orange;
    -webkit-text-stroke-width: 0.065rem;
    font-size: 0.65rem; 
}

.hp {
    color: rgb(0, 255, 0);
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.065rem;
    font-size: 0.65rem; 
}

.black {
    color: black;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.045rem;
    font-size: 0.65rem;
}

#tips1 {
    margin-right: 50.5vw;
    margin-left: 2.5vw;
}

#tips2 {
    margin-top: -32.5vw;
    margin-right: 2.5vw;
    margin-left: 50.5vw;
}

#tips3 {
    margin-right: 50.5vw;
    margin-left: 2.5vw;
}

#tips4 {
    margin-top: -35vw;
    margin-right: 2.5vw;
    margin-left: 50.5vw;
}
/* --------------------------------------------- */
